apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sheba
  namespace: default
spec:
  project: default

  source:
    repoURL: https://github.com/nayem9b/sheba-CD.git
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: sheba

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true

