apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

images:
  - name: nayem9b/sheba-backend-github-build
    newTag: latest   

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: sheba-client