apiVersion: v1
kind: Service
metadata:
  name: sheba-frontend-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: sheba-frontend
  ports:
    - port: 80           
      targetPort: 5000      
      protocol: TCP
      name: http
