apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

images:
  - name: nayem9b/bookify-client-github-build
    newTag: 0.0.1  

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: bookify-client